@import 'tailwindcss';
@import '@heroui/styles';

:root,
.light,
.default,
[data-theme='light'],
[data-theme='default'] {
	/* Theme Colors (Light Mode) */
	--accent: oklch(62.04% 0.195 75.4);
	--accent-foreground: oklch(99.11% 0 0);
	--background: oklch(97.02% 0.0018 75.4);
	--border: oklch(90% 0.0018 75.4);
	--danger: oklch(65.32% 0.2336 4.33);
	--danger-foreground: oklch(99.11% 0 0);
	--default: oklch(94% 0.0018 75.4);
	--default-foreground: oklch(21.03% 0.0059 75.4);
	--field-background: oklch(100% 0.0009 75.4);
	--field-border: transparent;
	--field-foreground: oklch(21.03% 0.0018 75.4);
	--field-placeholder: oklch(55.17% 0.0036 75.4);
	--focus: oklch(62.04% 0.195 75.4);
	--foreground: oklch(21.03% 0.0018 75.4);
	--muted: oklch(55.17% 0.0036 75.4);
	--overlay: oklch(100% 0.0005 75.4);
	--overlay-foreground: oklch(21.03% 0.0018 75.4);
	--scrollbar: oklch(87.1% 0.0018 75.4);
	--segment: oklch(100% 0.0018 75.4);
	--segment-foreground: oklch(21.03% 0.0018 75.4);
	--separator: oklch(92% 0.0018 75.4);
	--success: oklch(73.29% 0.1942 129.4);
	--success-foreground: oklch(21.03% 0.0059 129.4);
	--surface: oklch(100% 0.0009 75.4);
	--surface-foreground: oklch(21.03% 0.0018 75.4);
	--surface-secondary: oklch(95.24% 0.0014 75.4);
	--surface-secondary-foreground: oklch(21.03% 0.0018 75.4);
	--surface-tertiary: oklch(93.73% 0.0014 75.4);
	--surface-tertiary-foreground: oklch(21.03% 0.0018 75.4);
	--warning: oklch(78.19% 0.1591 50.92);
	--warning-foreground: oklch(21.03% 0.0059 50.92);

	/* Border Radius */
	--radius: 0.5rem;
	--field-radius: 0.75rem;

	/* Font Family */
	/* Make sure to load Inter font in your app */
	--font-sans: var(--font-inter);
}

.dark,
[data-theme='dark'] {
	color-scheme: dark;
	/* Theme Colors (Dark Mode) */
	--accent: oklch(62.04% 0.195 75.4);
	--accent-foreground: oklch(99.11% 0 0);
	--background: oklch(12% 0.0018 75.4);
	--border: oklch(28% 0.0018 75.4);
	--danger: oklch(59.4% 0.1974 3.22);
	--danger-foreground: oklch(99.11% 0 0);
	--default: oklch(27.4% 0.0018 75.4);
	--default-foreground: oklch(99.11% 0 0);
	--field-background: oklch(21.03% 0.0036 75.4);
	--field-border: transparent;
	--field-foreground: oklch(99.11% 0.0018 75.4);
	--field-placeholder: oklch(70.5% 0.0036 75.4);
	--focus: oklch(62.04% 0.195 75.4);
	--foreground: oklch(99.11% 0.0018 75.4);
	--muted: oklch(70.5% 0.0036 75.4);
	--overlay: oklch(21.03% 0.0036 75.4);
	--overlay-foreground: oklch(99.11% 0.0018 75.4);
	--scrollbar: oklch(70.5% 0.0018 75.4);
	--segment: oklch(39.64% 0.0018 75.4);
	--segment-foreground: oklch(99.11% 0.0018 75.4);
	--separator: oklch(25% 0.0018 75.4);
	--success: oklch(73.29% 0.1942 129.4);
	--success-foreground: oklch(21.03% 0.0059 129.4);
	--surface: oklch(21.03% 0.0036 75.4);
	--surface-foreground: oklch(99.11% 0.0018 75.4);
	--surface-secondary: oklch(25.7% 0.0027 75.4);
	--surface-secondary-foreground: oklch(99.11% 0.0018 75.4);
	--surface-tertiary: oklch(27.21% 0.0027 75.4);
	--surface-tertiary-foreground: oklch(99.11% 0.0018 75.4);
	--warning: oklch(82.03% 0.1393 54.93);
	--warning-foreground: oklch(21.03% 0.0059 54.93);
}

@theme {
	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-default: var(--default);
	--color-default-foreground: var(--default-foreground);

	--color-surface: var(--surface);
	--color-surface-foreground: var(--surface-foreground);

	--color-surface-secondary: var(--surface-secondary);
	--color-surface-secondary-foreground: var(--surface-secondary-foreground);

	--color-surface-tertiary: var(--surface-tertiary);
	--color-surface-tertiary-foreground: var(--surface-tertiary-foreground);

	--color-border: var(--border);
	--color-separator: var(--separator);

	--color-field: var(--field-background);
	--color-field-foreground: var(--field-foreground);
	--color-field-placeholder: var(--field-placeholder);

	--color-muted: var(--muted);

	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);

	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);

	--color-danger: var(--danger);
	--color-danger-foreground: var(--danger-foreground);

	--color-overlay: var(--overlay);
	--color-overlay-foreground: var(--overlay-foreground);

	--color-segment: var(--segment);
	--color-segment-foreground: var(--segment-foreground);

	--color-focus: var(--focus);
	--color-scrollbar: var(--scrollbar);

	/* Radius */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) + 4px);
	--radius-xl: calc(var(--radius) + 8px);

	--radius-field: var(--field-radius);

	/* Fonts */
	--font-sans: var(--font-sans);
}
